        <!-- https://getmdl.io/started/index.html -->
        <!-- https://github.com/angular/material2/issues/2612#issuecomment-329401072 -->
        <div id="widgets">
          <!-- <mat-menu class="mat-menu-custom" *ngIf="show">
            
          </mat-menu> -->
  
          <button mat-icon-button (click)="toggleMenu()">
            <mat-icon color="accent">more_vert</mat-icon>
          </button>

          <mat-tab-group [hidden]="hide" [@fadeIn]="menuState" style="height:800px;">
            <mat-tab label="Directions">
              <div id="directions-panel" style="height:800px;">
              <div id="fromDirections">
              <!-- <mat-form-field>
              <input matInput placeholder="Enter Origin" disabled>
            </mat-form-field> -->
            <!-- <button mat-button><mat-icon color="accent">home</mat-icon></button> -->
          </div>
              <div id="toDirections">
              <!-- <mat-form-field>
              <input matInput placeholder="Enter Destination" disabled>
            </mat-form-field> -->
            <!-- <button mat-button><mat-icon color="accent">home</mat-icon></button> -->
              </div>
              </div>
            </mat-tab>
            <mat-tab label="Travel Time"> Travel Time </mat-tab>
            <mat-tab label="smth else"> smth else </mat-tab>
          </mat-tab-group>
      </div>
